@import "font/stylesheet.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1418px;
  margin: 0 auto;
  margin-bottom: 11rem;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1350px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1120px) {
  .container {
    max-width: 800px;
  }
}
@media (max-width: 880) {
  .container {
    max-width: 700px;
  }
}

#animatedbg {
  height: 2600px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 40rem) {
  #animatedbg {
    height: 1700px;
  }
}

body {
  margin: 0 3rem;
  font-family: "Google Sans", sans-serif;
  background-color: rgb(0, 3, 21);
  overflow-x: hidden;
}

.main-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  height: 4vh;
}

.brand {
  font-size: 2rem;
  color: #f0f8ff;
  font-weight: bold;
  text-decoration: none;
}
.brand span {
  color: #b6cafd;
}
@media (max-width: 40rem) {
  .brand {
    font-size: 1.2rem;
  }
}

.main-nav_items {
  display: flex;
  text-align: end;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.main-nav_item a {
  position: relative;
  font-size: 1.4rem;
  color: #f0f8ff;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
  padding: 0 10px;
}
.main-nav_item a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #f0f8ff;
  transition: 0.3s;
  border-radius: 4px;
}
.main-nav_item a:hover::after {
  width: 100%;
}
@media (max-width: 40rem) {
  .main-nav_item a {
    font-size: 1rem;
  }
}

.bite-on-money {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 40rem) {
  .bite-on-money {
    font-size: 2.5rem;
  }
}

.bite-on-money__text {
  font-weight: bold;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url("/pics/pixel.jpg");
  background-repeat: repeat-y;
  animation: reveal-background 4s ease;
  animation-fill-mode: forwards;
}
@keyframes reveal-background {
  0% {
    background-size: 0;
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
    background-size: 1500px;
  }
}
@media (max-width: 40rem) {
  @keyframes reveal-background {
    0% {
      background-size: 0;
      background-position-x: 0%;
    }
    100% {
      background-position-x: 100%;
      background-size: 400px;
    }
  }
}

.bite-on-money__link {
  position: relative;
  font-weight: bold;
  color: #f0f8ff;
  text-decoration: none;
  animation: animate 3s linear infinite;
  transition: 0.3s;
}
.bite-on-money__link::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 6px;
  background-color: #b6cafd;
  transition: 0.3s;
  border-radius: 4px;
}
.bite-on-money__link:hover::after {
  width: 100%;
}
@keyframes animate {
  0%, 18%, 22%, 34%, 67%, 78%, 90% {
    color: rgba(182, 202, 253, 0);
  }
  18%, 22%, 34%, 45%, 73%, 84%, 100% {
    color: #b6cafd;
  }
}

.scroll-down {
  height: 46vh;
}

.scroll-down a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30vh;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #c6d0d8;
  text-decoration: none;
}
@media (max-width: 40rem) {
  .scroll-down a {
    font-size: 1.5rem;
  }
}

.scroll-icon {
  width: 40px;
  height: 40px;
  fill: #c6d0d8;
  animation: blink 4s infinite;
}
@media (max-width: 40rem) {
  .scroll-icon {
    width: 20px;
    height: 20px;
  }
}

.scroll-icon2 {
  position: relative;
  bottom: 15px;
  height: 30px;
  width: 30px;
  fill: #c6d0d8;
  animation: blink 4s infinite;
}
@media (max-width: 40rem) {
  .scroll-icon2 {
    margin-top: 5px;
    height: 15px;
    width: 15px;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    bottom: 15px;
  }
  100% {
    opacity: 1;
    bottom: 10px;
  }
}

.about-me {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "am am" "text pic" "icons pic";
  font-weight: bold;
  font-size: 2.5rem;
  color: #f0f8ff;
  margin-top: 60px;
  padding-top: 50px;
}
.about-me h1 {
  grid-area: am;
  justify-self: center;
}
.about-me span {
  color: #b6cafd;
}
.about-me p {
  grid-area: text;
  text-align: center;
  padding-top: 7rem;
  align-self: flex-start;
}
@media (max-width: 1086px) {
  .about-me p {
    align-self: center;
  }
}
@media (max-width: 40rem) {
  .about-me p {
    padding-top: 20px;
    align-self: center;
  }
}
@media (max-width: 40rem) {
  .about-me {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "am am" "text text" "icons icons" "pic pic";
    font-size: 1.4rem;
    margin-top: 80px;
  }
}

.social-icons {
  grid-area: icons;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
@media (max-width: 1086px) {
  .social-icons {
    align-self: center;
  }
}
@media (max-width: 40rem) {
  .social-icons {
    padding-top: 20px;
    align-self: center;
  }
}

.social-icon {
  width: 80px;
  height: 80px;
  fill: #b6cafd;
}
.social-icon:hover {
  fill: #f0f8ff;
}
@media (max-width: 40rem) {
  .social-icon {
    padding: 0;
    margin: 0 0.9rem;
    width: 50px;
    height: 50px;
  }
}

.laylapic {
  position: relative;
  top: 0;
  grid-area: pic;
  margin-top: 110px;
  z-index: -1;
  max-width: 100%;
}
@media (max-width: 1086px) {
  .laylapic {
    margin-top: 7rem;
    position: relative;
    align-self: center;
  }
}
@media (max-width: 40rem) {
  .laylapic {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */